.main {
    height: 420px;
    width: 576px;
    margin: auto;
    position: absolute;
    left: 350px;
    top: 180px;
}
.logo {
    display: block;
    margin-top: 250px;
    margin: auto;
    width: 50%;
    text-align: center;
}
.search-box {
    width: 540px;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.voice {
    position: absolute;
    top: 107px;
    left: 520px;
    height: 38px;
    width: auto;
}
.google-search {
    display: inline-block;
    position: relative;
    left: 30%;
    margin-top: 15px;
    color: #757575;
    padding: 10px 16px;
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    font-size:12px;
}
.feeling-lucky {
    display: inline-block;
    position: relative;
    left: 32%;
    margin-top: 15px;
    color: #757575;
    padding: 10px 16px;
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    font-size: 12px;
}
.shield {
    height: 45px;
    width: 43px;
    position: relative;
    left: 31%;
    margin-top: 20px;
}
.privacy a{
    position: absolute;
    left: 32%;
    margin-top: 35px;
    margin-left: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
}
.lang a, p{
    text-decoration: none;
    font-size:11.5px;
    font-family:Arial, Helvetica, sans-serif;
}
.lang {
    position: relative;
    left:35%;
    margin-top: 30px;
}
.navbar {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.navbar a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.options {
    position: relative;
    top: 5px;
}
.sign-in {
    color:white;
    background-color: #4285f4;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: bold;
}
.footer-menu-1 {
    position: fixed;
    bottom: 0;
    width: 1000%;
    background-color: #f2f2f2;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.22);
    border-top-width: 0.5px;
}
.footer-menu-1 a, .footer-menu-2 a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
}
.footer-menu-2 {

    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.22);
    border-top-width: 0.5px;
}
.footer-country {
    position: fixed;
    bottom: 0;
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 46px;
    background-color: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.22);
    border-bottom-width: 0.5px;
}